@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    --background: #181111;
    --darker-bg: #000000;
    --foreground: #f0eeee;
    --accent: #3cff00;
    font-family: "Google Sans", "Noto Sans KR", sans-serif;
}

#help_img {
    border-radius: 10px;
    corner-shape: superellipse(1.2);
}

body {
    margin: 0;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}

#root {
    color: var(--foreground);
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    padding: 20px;
}

#instructions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#container {
    width: min(50%, 600px);
    margin: 0 calc((100% - min(50%, 600px)) / 2 - 20px);
    position: relative;
}

#help_img {
    width: 100%;
    height: auto;
}

#step_n {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: xx-large;
}

#description {
    line-height: 1.5em;
}

#steps {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0; 
}

.steps_dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--foreground);
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
}

.highlighted {
    background-color: var(--accent);
}

#next {
    position: absolute;
    top: calc(min(50%, 600px) * (2 / 5));
    right: -50px;
}

#previous {
    position: absolute;
    top: calc(min(50%, 600px) * (2 / 5));
    left: -50px;
}

.icon {
    font-size: 2em !important;
    cursor: pointer;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

dialog {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    display: flex;
    justify-content: center;
    z-index: -10000;
}

dialog[open] {
    z-index: 10000;
}

dialog img {
    box-shadow: 0 0 10px var(--foreground);
    width: min(80%, 1100px);
    height: fit-content;
    border: none;
    border-radius: 10px;
    corner-shape: superellipse(1.2);
    position: relative;
    top: -4em;
    display: block;

    transition: top 0.3s ease-in-out;
}

dialog[open] img {
    top: 2em;
}

#client_info {
    display: none;
}

#client_info.shown {
    display: flex;
}

.hide {
    display: none;
}

form {
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none !important;
    background-color: var(--foreground);
    color: var(--background);
    margin-bottom: 16px;
    width: calc(100% - 20px);
}

button {
    margin-top: 1em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--accent);
    color: var(--background);
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    filter: brightness(90%);
}

label {
    display: block;
}

code {
    font-family: "Consolas", monospace;
}